# Logs
app/client/logs
app/client/*.log
app/client/npm-debug.log*
app/client/yarn-debug.log*
app/client/yarn-error.log*
app/client/pnpm-debug.log*
app/client/lerna-debug.log*
app/client/node_modules/
app/client/dist
app/client/dist-ssr
app/client/*.local
app/client/.vscode/*
app/client/!.vscode/extensions.json
app/client/.idea
app/client/.DS_Store
app/client/*.suo
app/client/*.ntvs*
app/client/*.njsproj
app/client/*.sln
app/client/*.sw?

app/server/*.log
app/server/*.pot
app/server/*.pyc
app/server/__pycache__/
app/server/**/__pycache__/
app/server/local_settings.py
app/server/db.sqlite3
app/server/db.sqlite3-journal
app/server/media
app/server/*.py[cod]
app/server/*$py.class
app/server/*.so
app/server/.Python
app/server/build/
app/server/static/*
app/server/develop-eggs/
app/server/dist/
app/server/downloads/
app/server/eggs/
app/server/.eggs/
app/server/lib/
app/server/lib64/
app/server/parts/
app/server/sdist/
app/server/var/
app/server/wheels/
app/server/share/python-wheels/
app/server/*.egg-info/
app/server/.installed.cfg
app/server/*.egg
app/server/MANIFEST
app/server/*.manifest
app/server/*.spec
app/server/pip-log.txt
app/server/pip-delete-this-directory.txt
app/server/htmlcov/
app/server/.tox/
app/server/.nox/
app/server/.coverage
app/server/.coverage.*
app/server/.cache
app/server/nosetests.xml
app/server/coverage.xml
app/server/*.cover
app/server/*.py,cover
app/server/.hypothesis/
app/server/.pytest_cache/
app/server/cover/
app/server/*.mo
app/server/instance/
app/server/.webassets-cache
app/server/.scrapy
app/server/docs/_build/
app/server/.pybuilder/
app/server/target/
app/server/.ipynb_checkpoints
app/server/profile_default/
app/server/ipython_config.py
app/server/.pdm.toml
app/server/__pypackages__/
app/server/celerybeat-schedule
app/server/celerybeat.pid
app/server/*.sage.py
app/server/.env
app/server/.venv
app/server/env/
app/server/venv/
app/server/ENV/
app/server/env.bak/
app/server/venv.bak/
app/server/.spyderproject
app/server/.spyproject
app/server/.ropeproject
app/server/site
app/server/.mypy_cache/
app/server/.dmypy.json
app/server/dmypy.json
app/server/.pyre/
app/server/.pytype/
app/server/cython_debug/
app/server/poetry.toml
app/server/.ruff_cache/
app/server/pyrightconfig.json
