.envs/*
!.envs/.env.example
.envs/
!.envs/.env.example
api/*.log
api/*.pot
api/*.pyc
api/__pycache__/
api/local_settings.py
api/db.sqlite3
api/db.sqlite3-journal
api/media
api/static/*
api/*.py[cod]
api/*$py.class
api/*.so
api/.Python
api/build/
api/develop-eggs/
api/dist/
api/downloads/
api/eggs/
api/.eggs/
api/lib/
api/lib64/
api/parts/
api/sdist/
api/var/
api/wheels/
api/share/python-wheels/
api/*.egg-info/
api/.installed.cfg
api/*.egg
api/MANIFEST
api/*.manifest
api/*.spec
api/pip-log.txt
api/pip-delete-this-directory.txt
api/htmlcov/
api/.tox/
api/.nox/
api/.coverage
api/.coverage.*
api/.cache
api/nosetests.xml
api/coverage.xml
api/*.cover
api/*.py,cover
api/.hypothesis/
api/.pytest_cache/
api/cover/
api/*.mo
api/instance/
api/.webassets-cache
api/.scrapy
api/docs/_build/
api/.pybuilder/
api/target/
api/.ipynb_checkpoints
api/profile_default/
api/ipython_config.py
api/.python-version

Pipfile.lock
poetry.lock

api/.pdm.toml
api/__pypackages__/
api/celerybeat-schedule
api/celerybeat.pid
api/*.sage.py
api/.env
api/.venv
api/env/
api/venv/
api/ENV/
api/env.bak/
api/venv.bak/
api/.spyderproject
api/.spyproject
api/.ropeproject
api//site
api/.mypy_cache/
api/.dmypy.json
api/dmypy.json
api/.pyre/
api/.pytype/
api/cython_debug/
api/.idea/
api/.python-version
api/poetry.toml
api/.ruff_cache/
api/pyrightconfig.json








client/node_modules/*
client/.pnp
client/coverage
client/.next/
client/out/
client/build
client/.DS_Store
client/.pnp.js
client/*.pem
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*
client/.env*.local
client/.vercel
client/*.tsbuildinfo
client/next-env.d.ts
client/.DS_*
client/*.log
client/logs
client/**/*.backup.*
client/**/*.back.*
client/node_modules
client/bower_components
client/*.sublime*
client/psd
client/thumb
client/sketch
